<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="header">
          <button
            class="btn btn-primary btn-fill"
            (click)="open(modalGrupoPregunta)"
          >
            <i class="fa fa-plus"></i> Agregar grupo de pregunta
          </button>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover" style="text-align: center">
            <thead>
              <tr>
                <th *ngFor="let encabezado of encabezados">{{ encabezado }}</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let grupo of gruposPreguntas
                    | slice : (page - 1) * pageSize : page * pageSize;
                  let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>
                  <button
                    (click)="open(modalGrupoPregunta, grupo)"
                    class="btn btn-success btn-fill"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger btn-fill"
                  (click)="eliminarGrupoPreguntas(lugar.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="gruposPreguntas.length === 0">
                <td colspan="10">
                  <div
                    class="table-responsive table-full-width"
                    style="text-align: center"
                  >
                    <img src="./assets/img/no-documentos.png" alt="" />
                    <br />
                    <label>No se encontraron registros</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination
            [collectionSize]="gruposPreguntas.length"
            [(page)]="page"
            aria-label="Default pagination"
          ></ngb-pagination>
        </div>
      </div>
  
     
      <ng-template #modalGrupoPregunta let-modal>
        <div class="main-content">
          <div class="container-fluid">
            <div class="modal-header">
              <h4 class="title" *ngIf="grupoPreguntaSeleccionado === undefined">
                Agregar grupo de pregunta
              </h4>
              <h4 class="title" *ngIf="grupoPreguntaSeleccionado != undefined">
                Editar grupo de pregunta
              </h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="cerrarModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="grupoPreguntaForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Grupo observación</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nombre"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                        grupoPreguntaForm.get('nombre')?.hasError('required') &&
                        grupoPreguntaForm.get('nombre')?.touched
                        "
                      >
                        El grupo de pregunta <strong>es requerido.</strong>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary btn-fill"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                type="button"
                class="btn btn-success btn-fill"
                [disabled]="grupoPreguntaForm.invalid"
                (click)="guardarGrupoPreguntas()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  